

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Knockout';
    src: url('./Assets/Fonts/Knockout-font/Knockout\ HTF49Liteweight\ Regular.otf');
    font-family:'blackbones';
    src:url('./Assets/Fonts/black_bones/Black\ Bones.ttf');
    font-family:'roxbo';
    src: url('./Assets/Fonts/Roxborough-CF/Roxborough\ CF.ttf');
    font-family: 'better';
    src: url('./Assets/Fonts/better_saturday/Better\ Saturday.otf');
    font-family: 'gotham';
    src: url('./Assets/Fonts/Gotham-Font/Gotham-Font/GothamLight.ttf');
}

.click-effect{
transition: color 0.3s ease;

}
.click-effect:active{
    color:white;
}